@import './mixins';

.section {
  padding-top: 120px;
  padding-bottom: 80px;

  background-image: url(../assets/images/our-solutions-careers-bg-img.webp);

  @include backgroundImage;

  .uploadFileBtn {
    display: block;

    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 4px;
    padding: 12px 0;
    width: 100%;

    font-size: 15px;
    text-align: center;
    line-height: 0;
    color: #7a7a7a;

    background-color: #fff;

    transition: all 0.25s ease-in 0s;

    .icon {
      color: #7a7a7a;

      transition: all 0.25s ease-in 0s;
    }

    &:hover {
      border-color: var(--theme-color);

      color: var(--theme-color);

      .icon {
        color: var(--theme-color);
      }
    }
  }

  .submitBtn {
    opacity: 0.5;
    width: 100%;
    padding: 12px;
  }

  @include smallTabletAndBelow {
    padding-top: 80px;
  }
}
